.wrapperCalculator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.calculator{
    box-sizing: border-box;
    height: 700px;
    width: 400px;
    background-color: gray;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
